.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/uploads/files/62528cc7cbe3ec25a8920178/625a3fb2b049b946d4ff0802/videos/277603506_376846030937881_4203273281554342178_n.jpg
/build/
/build/tmp/
/build/resources/
/build/classes/
